<h1>Birthday calculator</h1>
<form action="/birthdaycalculator" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="day">Day</label>
        <input type="day" id="day" name="day" required>
    </div>
    <div>
        <label for="month">Month</label>
        <input type="month" id="month" name="month" required>
    </div>
    <div>
        <label for="year">Year</label>
        <input type="year" id="year" name="year" required>
    </div>
    <button type="submit">Register</button>
</div>
</form>
<a href="/login">Login</a>